@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--Gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	--MainTextClr: hsl(243, 100%, 93%);
	--CardMainClr: hsl(228, 56%, 26%);
	--GBTextLeftClr: hsl(229, 7%, 55%);
	--GBNumberLeftClr: hsl(229, 57%, 11%);
}

body {
	min-height: 100vh;
	background-image: url(./images/bg-mobile.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
}

main {
	min-width: 320px;
	margin: auto;
	padding: 0 20px;
}

ul,
li {
	list-style-type: none;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.top,
.bottom {
	background-color: var(--CardMainClr);
}

.top {
	margin-bottom: 15px;
	border-radius: 10px 100px 10px 10px;
	min-height: 200px;
	padding: 40px;
}

.top__logo {
	margin-bottom: 35px;
}

.top__icons {
	display: flex;
}

.top__icons li {
	background-color: var(--GBNumberLeftClr);
	border-radius: 10px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
	min-width: 45px;
}

.bottom {
	border-radius: 10px;
	position: relative;
	min-height: 160px;
	padding: 30px;
	z-index: -1;
	min-height: 160px;
}

.bottom__title {
	color: var(--MainTextClr);
	font-weight: 400;
	font-size: 1em;
	margin-bottom: 20px;
	text-align: center;
}

.attribution {
	font-size: 2rem;
	position: absolute;
	bottom: 2rem;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	text-decoration: none;
	font-size: 0.65rem;
	color: hsl(228, 100%, 78%);
}

@media (max-width: 375px) {
	.bottom__title {
		font-size: 0.85em;
	}
}

.bottom__title span {
	font-weight: 700;
}

.bottom__bar {
	background-color: var(--GBNumberLeftClr);
	height: 20px;
	border-radius: 25px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 3px;
}

.bottom__bar-progress {
	height: 100%;
	width: 70%;
	background: var(--Gradient);
	border-radius: 25px;
	position: relative;
}

.bottom__bar-end {
	height: 10px;
	width: 10px;
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	right: 2px;
	top: 2px;
}

.bottom__range {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-weight: 700;
	color: var(--MainTextClr);
}

.left {
	background-color: #fff;
	padding: 10px 25px;
	color: var(--GBTextLeftClr);
	font-weight: 700;
	border-radius: 10px;
	text-align: center;
	z-index: 1;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	position: absolute;
	bottom: -26.5px;
	left: 25%;
}

.gb {
	color: var(--GBNumberLeftClr);
	font-size: 2em;
	margin-right: 5px;
}

.left-gb {
	color: var(--GBTextLeftClr);
	font-size: 0.7em;
}

@media (min-width: 900px) {
	body {
		background-color: var(--GBNumberLeftClr);
		background-image: none;
		position: relative;
	}
	body:after {
		content: "";
		position: absolute;
		bottom: 0;
		min-height: 50%;
		width: 100%;
		background-image: url(./images/bg-desktop.png);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		z-index: -5;
	}
	main {
		display: flex;
		align-items: flex-end;
		min-width: 920px;
		padding: 0;
	}
	.top {
		margin: 0;
		min-width: 350px;
		margin-right: 30px;
		border-radius: 10px 100px 10px 10px;
	}
	.bottom {
		padding: 40px;
		min-width: 540px;
		position: relative;
	}
	.bottom__title {
		text-align: left;
	}
	.bottom__bar-end {
		max-width: 10px;
	}
	.left {
		left: auto;
		position: absolute;
		max-width: 180px;
		max-height: 75px;
		top: -50px;
		right: 40px;
		border-bottom-right-radius: 0;
		justify-content: space-evenly;
		padding: 10px 25px;
	}
	.left:after {
		content: "";
		position: absolute;
		display: inline-block;
		bottom: -15px;
		right: 0px;
		border-top: 30px solid #fff;
		border-left: 30px solid transparent;
	}
	.gb {
		font-size: 3em;
	}
}
